.ddev
.git
.github
.idea
.vscode
.editorconfig
.env
.env.example
.phpunit.result.cache
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
node_modules
public/build
vendor
npm-debug.log
yarn-error.log
